#!/bin/bash

VER_IP=192.168.2.137
VER_PT=8765
CT_IP=<%= node['ipaddress'] %>
PL_PT=8001

cd $HOME/chef_phemap
export LD_LIBRARY_PATH=./src/communication:./src/phemap:./src/puf

./pufLessMain -l $CT_IP -p $PL_PT -v $VER_IP -f $VER_PT
